@import "tailwindcss";

@theme {
  --color-amber-500: #f59e0b;
}

@layer base {
  body {
    background-color: #000;
    color: #f4f4f5; /* zinc-100 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: rgba(245, 158, 11, 0.3);
    color: #fde68a; /* amber-200 */
  }
}
